name: CI

on:
  pull_request:
    branches: [ "develop", "main" ]
  push:
    branches: [ "develop" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore src/EncryptionApi/EncryptionApi.csproj

      - name: Build
        run: dotnet build src/EncryptionApi/EncryptionApi.csproj -c Release --no-restore

      - name: Test
        run: dotnet test tests/EncryptionApi.Tests/EncryptionApi.Tests.csproj -c Release --no-build --verbosity normal
